body
{
background-color: lightblue;
}
p
{
font-size: 16pt;
}
a
{
    color: rgb(0, 238, 255);
}
a:visited
{
  color: darkslateblue
}
.special
{
    color:red
}
.special:visited
{
    color: green;
}
a:focus.special
{
    border: 2px dotted black;
    background-color:magenta
}
a:hover
{
    color: blueviolet;
}
/*inputs*/
input[type="text"]:focus{
    box-shadow: 0 0 5px 5px darkslategray;
}
input:focus{
    box-shadow: 0 0 5px 5px rgb(38, 55, 131);
}
a[href="https://www.google.com"]:hover
{
    color: rgb(255, 199, 45);
}
input:checked ~ p
{
    color: red;
}
p{
    color: orange;
}
span{
    color: green;
}
p span
{
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
}
}
.foo{
    color: tomato;
}
span.foo
{color: snow;}

.foo .foo {
color: tomato;
font-family: 'Open Sans', sans-serif;
}

.beau .foo #bar {
    color: violet;
}


