*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  html {
    background: -webkit-gradient(linear, left top, left bottom, from(#A8A8A8), color-stop(36.46%, #2D2C2C));
    background: linear-gradient(180deg, #A8A8A8 0%, #2D2C2C 36.46%);
    font-size: 100%;
    width: 100%;
  }

  body {
    max-width: 100%;
    place-items: center;
  }

  .header {
    background-position: center;
  }

  .BigTitle {
    font-family: Overpass Mono;
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 96px;
    position: static;
    margin-top: 30px;
  }

  .smalltitle {
    font-family: Overpass Mono;
    font-style: normal;
    font-weight: bold;
    display: block;
    position: static;
    font-size: 14px;
    text-align: left;
    margin-left: 26px;
    color: black;
  }

  .smalltitle_1 {
    font-family: "Overpass Mono";
    font-style: normal;
    font-weight: bold;
    display: block;
    position: static;
    font-size: 14px;
    text-align: right;
    margin-right: 26px;
    color: black;
  }

  H1, h2 {
    font-family: "Overpass Mono";
    color: white;
    position: static;
    right: -2em;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    font-size: 36px;
    text-align: center;
  }

  .page-title {
    display: inline-block;
    position: relative;
    line-height: 6;
    right: -10em;
    margin: 3em;
    color: white;
    bottom: 100%;
  }
  .page-title:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    width: 6em;
    height: 6em;
    border: 1px solid yellow;
  }

  .Presentation {
    font-family: Overpass Mono;
    font-style: italic;
    font-weight: bold;
    display: block;
    position: static;
    font-size: 16px;
    text-align: left;
    margin-left: 26px;
    color: white;
  }

  .section-class {
    font-weight: 100%;
    width: 100%;
  }
  .section-class p {
    font-family: Overpass Mono;
    display: block;
    position: static;
    font-size: 12px;
    text-align: left;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 40px;
    line-height: 35px;
    color: white;
  }

  .contact {
    color: white;
    background-color: #78797C;
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.avatar {
  display: block;
  max-width: 100%;
  padding: 0px;
}

img {
  margin: auto;
  padding-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
}

.subtitles {
  position: absolute;
}

.graduation {
  display: block;
  max-width: 100%;
}