//-----> $SITE

@media only screen and (max-width: 600px) {


html  {
  font-size: 100%;
}
body, html {
  height: 100%;
}
body {
  background-color: $grey;
}


.BigTitle {
font-family: Overpass Mono;
display: block;
text-align: center;
font-style: normal;
font-size: 96px;
position: static;
margin-top: 70px;
}

.smalltitle {
  font-family: Overpass Mono;
  font-style: normal;
  font-weight: bold;
  display: block;
  position: static;
  font-size: 14px;
  text-align: left;
  margin-left: 26px; 

  color:black;
}

.smalltitle_1{
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: bold;
  display: block;
  position: static;
  font-size: 14px;
  text-align: right; 
  margin-right: 26px; 


  color:black;
}

H1, h2 {
  font-family: 'Overpass Mono';
  color: white;
  position: static;
  justify-content: right;
  font-size: 36px;
  text-align: center;
width: 331px;
left: 26px;
top: 167px;
border-radius: 0px;

}
}


