//-----> $SITE


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

  html  {
    font-size: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;

  }
  
  @media screen and (max-width: 800px) {

body {
  background: linear-gradient(180deg, #A8A8A8 0%, #2D2C2C 36.46%);
  max-width: 100%;
  margin: 0;
  background : #3b3b3b;


}


.header {
  min-height: 100vh;
  width: 100%;
  background : linear-gradient(136.11deg, #a1a1a1 15.65%, #7c7c7c 40.53%, #2D2C2C 70.5%);

}

.BigTitle {
  font-family: 'Overpass Mono';
  display: block;
  text-align: center;
  font-style: normal;
  font-size: 60px;
  position: static;
  margin-top: 30px;
}

.smalltitle {
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: bold;
  position: static;
  font-size: 14px;
  text-align: left;
  margin-left: 26px; 
  color:black;

}

.smalltitle_1{
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: bold;
  display: block;
  position: static;
  font-size: 14px;
  text-align: right; 
  margin-right: 26px;
  color:black;
}

H1, h2 {
  font-family: "Overpass Mono";
  font-style: normal;
  color: white;
  position: static;
  font-size: 36px;
  text-align: center;
}


.page-title {
  font-family: "Overpass Mono";
  display: inline-block;
  position: relative;
  line-height: 7;
  margin: 5em;
  color: white;

  
  &:after {
    content:"";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 7em;
    height: 7em;
    border:1px solid yellow;
    background-color: #ffe60009 ;

  }
}


.section-class-1 {
  font-weight: 100%;
  max-width: 100%;
  min-height: 100vh;
}
.section-class-2 {
  font-weight: 100%;
  min-height: 100vh;
}

.section-class-3{
  width: 100%;

}

.Text {
  max-width: 100%;
  font-family: Overpass Mono;
  display: block;
  font-size: 15px;
  text-align: left;
  line-height: 35px;
  color: white;
  padding: 20px;
  margin: auto;
  animation: fadeInAnimation ease 8s; 
  animation-fill-mode: forwards; 
  animation-iteration-count: 1; 
 
  @keyframes fadeInAnimation { 
  0% { 
  opacity: 0; 
  } 
  100% { 
  opacity: 1; 
  } 
  } 
} 

.logo{
  margin: 10px;
}

.myhobbies {
  display: flex;
align-items: center; 
line-height: 2;
margin:auto;
flex-direction: column; 

}
.icons_container {
display: flex;
flex-direction: column; 
margin: 30px;
}
p {
  font-family: "Overpass Mono";
  color: white;
  text-align: center; 
  font-size: 15px;
}


.footer {
font-family: 'Overpass Mono';
font-style: normal;
width: 100%;
color: black;
background-color: #A8A8A8;
font-size: 20px;
text-align: center;
margin-bottom: 30px;

}
}

@media only screen and (min-width: 800px){

  html  {
    font-size: 100%;
    width: 100%;
    margin: 0;
  }
  body {
    max-width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    background : #3b3b3b;
  }

  .title {
  margin: auto;
  }

  .header {
    height: 100vh;
    display: flex;
    width: 100%;
    line-height: 30px;
    background : linear-gradient(136.11deg, #a1a1a1 15.65%, #7c7c7c 40.53%, #2D2C2C 70.5%);
    margin :40px;


  .BigTitle {
  font-family: 'Overpass Mono';
  display: block;
  text-align: center;
  font-style: normal;
  font-size: 50px;
  position: static;
  color: rgb(0, 0, 0);
  }
  
  .smalltitle {
    font-family: 'Overpass Mono';
    font-style: normal;
    display: block;
    position: static;
    font-size: 18px;
    text-align: left;
    color:black;
  }
  
  .smalltitle_1{
    font-family: 'Overpass Mono';
    font-style: normal;
    display: block;
    position: static;
    font-size: 18px;
    text-align: right; 
    color: black;
  }
  
  H1, h2 {
    font-family: 'Overpass Mono';
    font-style: Normal;
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 80px;
    position: static;
    right: -2em;
    justify-content: right;
    font-size: 90px;
    text-align: center;
  }
}

  
  .section-class-1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
  }

    .bigger {
      font-family: 'Overpass Mono';
      font-style: normal;
      color: white;
      justify-content: right;
      font-size: 30px;
      font-style: italic;
    } 
  

  .section-class-2 {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    background-image: url("../images/graduation.svg");
  /* The image used */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .section-class-3 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
  }

  .page-title {
    font-family: 'Overpass Mono';
    font-style: normal;
    display: inline-block;
    position: relative;
    line-height: 10;
    font-size: 25px;
    margin: 6em;
    color: white;
  
  
    &:after {
      content:"";
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%) rotate(45deg);
      width: 10em;
      height: 10em;
      border: 1px solid #FFE600;
      background-color: #ffe60009 ;

    }
  }
  
  .Text{
    font-family: 'Overpass Mono';
    display: block;
    font-size: 16px;
    text-align: left;
    line-height: 35px;
    color: white;
    margin: auto;
    padding-left: 20px;


    align-items: center;
    animation: fadeInAnimation ease 10s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
   
    @keyframes fadeInAnimation { 
    0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1; 
    } 
    } 
  } 
    
  .myhobbies {
    margin:auto;
    font-family: "Overpass Mono";
    display: flex; 
    flex-direction: column;
  }

  p {
    font-family: "Overpass Mono";
    color: white;
    text-align: center; 
    font-size: 18px;
 }

  .icons_container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;  
  }

  .logo{
    margin: 70px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  

.footer_title {
  font-family: 'Overpass Mono';
  font-size: 30px;
  margin: 20px;
  font-style: normal;
  color: black;
  display: flex;
  flex-direction: column;
}

.footer {
  display: block;
  background-color: #A8A8A8;
  text-align: center;
  margin: 20px;
  width: 100%;
}


}