//-----> $AVATAR

@media only screen and (max-width: 500px){

.avatar {
display: block;
 max-width: 100%;
 margin-right: 20px;
 overflow: hidden;
}


.line {
  margin: auto;
  padding: 20px;
  align-items: center;
  display: block;
 }


.graduation {
 display: block;
max-width: 100%;
opacity: 0.5;
position: relative;

}
}
@media only screen and (min-width: 500px){

 .avatar {
   display: block;
   position: relative;
   max-width: 90%;
   height: 100%;
   object-fit: cover;
   object-position: left;

}



.line {
  margin: auto;
  padding: 40px;
  align-items: center;
  display: block;
}

  .graduation {
display: none;
 }

}
